* @growth/code-owners/core-approvers

[Codeowners]
CODEOWNERS @mohammed.irfanulla @ankit.nautiyal @shantanu.tiwari

[CI/CD pipeline]
.gitlab-ci.yml @mohammed.irfanulla @ankit.nautiyal @shantanu.tiwari